<div class="row mt-5">
    <div class="col">

        <h3>File Upload</h3>
        <hr>

        <div class="form-group">
            <div class="custom-file">
                <input 
                    type="file" 
                    class="custom-file-input" 
                    id="customFile" 
                    multiple="true"
                    (change)="onFileSelect($event)"
                    accept="image/*">
                <label class="custom-file-label" for="customFile">
                    Choose file
                </label>
            </div>
        </div>

        <div class="card mb-2" *ngFor="let fileCard of fileCards; let i = index;">            
            <div class="card-body">
                <span class="btn btn-info btn-sm float-right" *ngIf="fileCard.loading">
                    <i class="fas fa-sync fa-spin"></i>
                </span>
                <ng-container *ngIf="!fileCard.loading">
                    <button type="button" class="btn btn-danger btn-sm float-right" (click)="onDeleteClick($event, i)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    <a class="btn btn-success btn-sm mr-1 float-right" [href]="fileCard.link" download="fileCard.name">
                        <i class="fas fa-download"></i>
                    </a>
                </ng-container>
                <p class="card-text">{{fileCard.name}}</p>                
            </div>
        </div>

    </div>
</div>