<div class="row mt-5">
    <div class="col">

        <h3>File Upload</h3>
        <hr>

        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" multiple="true"
                    (change)="onFileSelect($event)">
                <!-- accept="image/*" -->
                <label class="custom-file-label" for="customFile">
                    Choose file
                </label>
            </div>
        </div>

        <div *ngIf="!fileCards.length">
            <b>No file uploaded yet</b>
        </div>

        <div *ngIf="fileCards.length" class="mb-3">
            <b>Uploaded files</b>
            <div class="float-right">
                <button type="button" class="btn btn-sm btn-primary mr-1" (click)="onDownloadAll($event)">
                    <i class="fas fa-download"></i> 
                    Download All
                </button>
                <button type="button" class="btn btn-sm btn-danger" (click)="onDeleteAll($event)">
                    <i class="fas fa-trash-alt"></i> 
                    Delete All
                </button>
            </div>
            <div class="clearfix"></div>
        </div>        

        <div class="card mb-2" *ngFor="let fileCard of fileCards; let i = index;">
            <div class="card-body">

                <!-- loader -->
                <ng-container *ngIf="fileCard.loading">
                    <span class="btn btn-info float-right">
                        <i class="fas fa-spinner fa-spin"></i>
                    </span>
                </ng-container>

                <!-- cancel -->
                <ng-container *ngIf="fileCard.cancel">
                    <button type="button" class="btn btn-light float-right" (click)="onCancelClick($event, i)">
                        <i class="fas fa-times"></i>
                    </button>
                </ng-container>

                <!-- retry -->
                <ng-container *ngIf="fileCard.retry">
                    <button type="button" class="btn btn-warning float-right" (click)="onRetryClick($event, fileCard)">
                        <i class="fas fa-sync-alt"></i> Retry
                    </button>
                </ng-container>

                <!-- buttons -->
                <ng-container *ngIf="!fileCard.loading && !fileCard.retry">
                    <button type="button" class="btn btn-danger float-right" (click)="onDeleteClick($event, i)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    <button type="button" class="btn btn-primary mr-1 float-right" (click)="onDownloadClick($event, i)">
                        <i class="fas fa-download"></i>
                    </button>
                    <a class="btn btn-primary mr-1 mt-5 float-right d-none" [href]="fileCard.link" download
                        target="_blank">
                        <i class="fas fa-download"></i>
                    </a>
                </ng-container>

                <!-- file detail -->
                <img [src]="isImage(fileCard.link) ? fileCard.link : defaultImageUrl" [alt]="fileCard.name"
                    class="img-fluid float-left mr-2" style="height: 50px; width: 50px;">
                <p class="card-text">{{fileCard.name}}</p>

                <!-- progress -->
                <div class="progress" *ngIf="fileCard.link === defaultImageUrl">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" [style.width.%]="fileCard.progress">
                        Uploading {{fileCard.progress}}%
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="mdlDelete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" (click)="onModalDeleteClick($event)">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- delete all modal -->
<div class="modal fade" id="mdlDeleteAll" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete all?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" (click)="onModalDeleteAllClick($event)">Yes</button>
            </div>
        </div>
    </div>
</div>